html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;

  touch-action: manipulation;
}

path:hover {
  fill: red;
}

path.selected {
  fill: blue;
}

.flag {
  max-height: 40px;
}

.tag-text {
  fill: blue;
  alignment-baseline: middle;
  dominant-baseline: middle;

  color: white;
}

div.tag-bg {
  fill: black;
  /* width: 150px; */
  height: 25px;
  padding: 3px;
  alignment-baseline: middle;

  background-color: black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  touch-action: none;
}

.hidden {
  display: none !important;
}

.full-h {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container-bar {
  display: flex;
  width: 100%;
}

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.left-al {
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.abs {
  position: absolute;
}

.bottom {
  bottom: 15px;
}

.right {
  right: 15px;
}
