html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;

  touch-action: manipulation;
}

path {
  stroke: black;
  fill: gray;
}

path:hover {
  /* fill: red; */
}

path.selected {
  fill: rgb(14, 223, 65);
}

svg {
  width: 70vw;
  height: auto;
}

.flag {
  max-height: 40px;
}

.tag-text {
  fill: blue;
  alignment-baseline: middle;
  dominant-baseline: middle;

  color: white;
}

div.tag-bg {
  fill: black;
  /* width: 150px; */
  height: 25px;
  padding: 3px;
  alignment-baseline: middle;

  background-color: black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  touch-action: none;
}

.hidden {
  display: none !important;
}

.full-h {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container-bar {
  display: flex;
  width: 100%;
}

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.left-al {
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.abs {
  position: absolute;
}

.bottom {
  bottom: 15px;
}

.right {
  right: 15px;
}

.vertical {
  flex-direction: column;
}

.container button {
  background-color: #cdcdcd;
  margin: 0 5px;
}

.container.vertical>button {
  background-color: rgb(14, 223, 65);
}

.scroll {
  overflow: scroll;
}

#map-container {
  width: 65vw;
  left: 0;
  flex-shrink: 1;
  background-color: lightgray;
}

#list-container {
  height: 100%;
  width: 35vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}

#list-container ol {
  height: 10%;
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 60px;
}

#list-container img {
  object-fit: scale-down;
}

#list-container h2 {
  text-align: center;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#list-container li {
  height: 30px;
  padding: 2px 0;
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
}

#list-container li>div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  align-content: center; */
}

#list-container .container {
  height: 25px;
  justify-content: space-around;
  padding: 10px 0;
}

#list-container .container.vertical {
  height: auto;
  justify-content: space-around;
  padding: 10px 0;
}

#list-container button {
  flex-grow: 1;
}

@media (orientation: portrait) {
  svg {
    width: 100vw;
  }

  .flag {
    max-height: 1.7em;
  }

  #map-container {
    height: 40vh;
    width: 100%;
    margin: 0;
  }

  #list-container {
    height: 60vh;
    width: 100%;
    top: auto;
    bottom: 0;
  }

  /* #list-container ol {
    height: 10%;
    flex-grow: 1;
    overflow-y: scroll;
  } */

  /* #list-container img {
    object-fit: scale-down;
  } */

  #list-container li {
    font-size: 2em;
    height: 2em;
  }

  /* #list-container li>div {
    height: 100%;
    display: flex;
    justify-content: space-between;
  } */

  #list-container .container {
    height: 8vh;

    justify-content: space-around;
    padding: 10px 0;
  }

  #list-container button {
    height: 8vh;

    font-size: 3em;
  }
}
